img{
	max-width: 100%;
}

.the-table{
	background-color: #277714;
	border: 5px dashed #dcdcdc;
	padding: 30px 0px;
	margin-top: 50px;
	border-radius: 10px;
}

.dealer-hand-wrapper{
	/* border: 5px dashed #f46f92; */
}

.player-hand-wrapper{
	/* border: 5px dashed #146ff2; */
}

.card{
	height: 120px;
	background-color: white;
	/* border: #277714 10px solid; */
	margin: 10px;
	width: 12.6%;
	float: left;
}